<html>

<head>
    <title>
        Students CRUD Example
    </title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <style>
        .loading {
            position: absolute;
            width: 95%;
            height: 95%;
            /* background: url('loader.gif') no-repeat center center; */
        }
    </style>
</head>
<script src="angular.js"></script>
<script src="studentsCrud.js"></script>

<body ng-app="swabhavStudent" ng-controller="studentCtrl">
    <div id="loader" class="loading"></div>

    <center>
        <h2> Add Student</h2>
    </center>


    <div id="addArea" class="row container">

        <div class="col-md-6">
            <label for="Id" class="col-md-3">ID:</label>
            <input type="text" ng-model="id" placeholder="Enter Student ID" class="col-md-3" data-edit="0">
        </div>

        <div class="col-md-6">
            <label for="Id" class="col-md-3">Name:</label>
            <input type="text" ng-model="name" placeholder="Enter Student Name" class="col-md-3">
        </div>

        <div class="col-md-6">
            <label for="Id" class="col-md-3">Email:</label>
            <input type="text" ng-model="email" placeholder="Enter Student ID" class="col-md-3">
        </div>

        <div class="col-md-6">
            <label for="Id" class="col-md-3">Joining Date:</label>
            <input type="text" ng-model="joining" placeholder="Enter Student Name" class="col-md-3">
        </div>

        <div class="col-md-6">
            <label for="Age" class="col-md-3">Age:</label>
            <input type="text" ng-model="age" class="col-md-3">
        </div>

        <div class="col-md-6">
            <label for="Id">Gender:</label>
            <input type="radio" name="gender" ng-checked="male">Male
            <input type="radio" name="gender" ng-checked="female">Female
        </div>
        <div class="col-md-12">
            <center>
                <input type="submit" name="submitForm" id="submitForm" class="btn-primary" ng-click="addStudent()">
            </center>
        </div>
    </div>

    <center>
        <h2> Students Details</h2>
    </center>

    <div id="dataDisplay" name="displayArea" class="row container">
        <div class="col-md-1" id="RollNo">RollNo</div>
        <div class="col-md-1" id="name">Name</div>
        <div class="col-md-2" id="email">Email</div>
        <div class="col-md-2" id="joining">Joining Date</div>
        <div class="col-md-1" id="age">Age</div>
        <div class="col-md-1" id="gender">Gender</div>
        <div class="col-md-4" id="operations">Operations</div>
    </div>

    <br>
    <br>

    <div ng-repeat=" student in studentsData" class="row container">
        <div class="col-md-1">{{student.rollNo}}</div>
        <div class="col-md-1">{{student.name}}</div>
        <div class="col-md-2">{{student.email}}</div>
        <div class="col-md-2">{{student.date}}</div>
        <div class="col-md-1">{{student.age}}</div>
        <div class="col-md-1">{{student.isMale}}</div>
        <div class="col-md-4">
            <button ng-click="deleteStudent(student.rollNo)">Delete</button>
            <button ng-click="editStudent(student)">Edit</button>
        </div>

    </div>
    </div>
</body>

</html>