    <div class="col-md-10 col-lg-10 login-page">
        <h1 class="text-center">Welcome to {{title}}</h1>
            
        <a [routerLink]='"../Products"'>    
            <div class="col-md-4 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" [src]='"assets/man-user.png"'>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Users
                            </div>
                            <div class="lib-header-seperator"></div>
                            <div class="lib-row lib-desc">
                                {{userCount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a [routerLink]='"../Products"'>
            <div class="col-md-4 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" [src]='"assets/shopping-bag.png"'>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Products
                            </div>
                            <div class="lib-header-seperator"></div>
                            <div class="lib-row lib-desc">
                                {{productCount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a [routerLink]='"../Orders"'>
            <div class="col-md-4 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-6">
                                <img class="lib-img-show" [src]='"assets/box.png"'>
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    Orders
                                </div>
                                <div class="lib-header-seperator"></div>
                                <div class="lib-row lib-desc">
                                    {{userCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a [routerLink]='"../ProductCategories"'>
                <div class="col-md-4 no-padding lib-item" data-category="view">
                    <div class="lib-panel">
                        <div class="row box-shadow">
                            <div class="col-md-6">
                                <img class="lib-img-show" [src]='"assets/shopping-basket.png"'>
                            </div>
                            <div class="col-md-6">
                                <div class="lib-row lib-header">
                                    Categories
                                </div>
                                <div class="lib-header-seperator"></div>
                                <div class="lib-row lib-desc">
                                    {{productCategoriesCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

    <div class="animationload" *ngIf='loadingView==true'>
        <div class="loader"></div>
        <h2>Loading...</h2>
    </div>
