<nav class="navbar navbar-inverse navbar-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]='""'>ShopaHolic</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a [routerLink]='"../Products"'>Products</a></li>
        <li><a [routerLink]='"../Products"'>Product Categories</a></li>
        <li><a [routerLink]='"../Products"'>Orders</a></li>
      </ul>
    </div>
</nav>

<div class="navbar navbar-inverse navbar-fixed-left text-center">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgXhvNZm5TTh-Pwgu_axArsze1i047tJSZYdxIoSFcsYAsgpxl" alt="User Image" class="img-responsive img-circle profilePic">

    <a class="navbar-brand" href="#">UserName</a>
        <ul class="nav navbar-nav">
            <li><a>Email</a></li>
            <li><a>Location</a></li>
        </ul>
</div>
    <div class="login-page">
        <div class="text-center">
            <h3>
            Welcome to {{title}}
            </h3>
        </div>
    </div>