<div class="col-md-10 col-lg-10 login-page">
        <h3>Welcome to {{title}}</h3>
        <!-- <form class="row"> -->
            <label for="Id" class="col-md-3">Product Category Name  :</label>
            <input type="text" [(ngModel)]="Name" placeholder="Enter Product Category Name" class="col-md-6">
            <br>
            <br>
            <label for="Id" class="col-md-3">Product Category Date  :</label>
            <input type="text" [(ngModel)]='Date' placeholder="Enter Product Date" class="col-md-6">
            <br>
            <br>
            <div class="col-md-3"></div>
            <input type="submit" class="btn-lg btn-primary text-center" (click)="addProduct()">
</div>