
@{
    Layout = null;
}
@using TestFilterApp.ViewModel;
@model DropDownViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Select Department : @Html.DropDownListFor(ddvm => ddvm.Departments, Model.Departments, new { @id = "DeptList" })
    </div>

    <div id="employeeData">

    </div>
</body>
</html>
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $('#DeptList').change(function () {
        $.ajax({
            url: "",
            type: "POST",
            data: { deptNum: $("#DeptList option:selected").val() },
            success: function (data) {
                console.log(data);
                var temphtml = "<table><tr><th>Emp Id</th><th>Emp Name</th><th>Dept Num</th></tr>";
                for (d in data) {
                    temphtml += "<tr><th>" + data[d].Id + "</th><th>" + data[d].Name + "</th><th>" + data[d].DeptNo + "</th></tr>";
                    console.log(temphtml);
                }
                temphtml += "<table>";
                $("#employeeData").html(temphtml);
            }
        });
    });
</script>