@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <ul>
            <li>@ViewBag.OnActionExecuting</li>
            <li>@ViewBag.OnActionExecuted</li>
            <li>@ViewBag.OnResultExecuting</li>
            <li>@ViewBag.OnResultExecuting</li>
        </ul>
    </div>
</body>
</html>
