<div class="col-md-10 col-lg-10 login-page">
            <h3>Welcome to {{title}}</h3>
            <table class="table-bordered table-responsive">
                <tr class="primary">
                    <th class="col-md-1">No</th>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-2">Order Status</th>
                    <th class="col-md-2">Order Total</th>
                    <th class="col-md-2">Operations</th>
                </tr>
                <tr *ngFor="let order of orders; let p = index">
                    <th class="col-md-1">{{p+1}}</th>
                    <th class="col-md-3">{{order.Id}}</th>
                    <th class="col-md-2">{{order.Date | date}}</th>
                    <th class="col-md-2">{{order.OrderStatus}}</th>
                    <th class="col-md-2">{{order.OrderTotal | currency:"₹":0}}</th>
                    <th class="col-md-2"><a [routerLink]="['../OrderDetails', order.Id]"><button class="btn-info">
                        <i class="glyphicon glyphicon-pencil"></i> &nbsp;&nbsp;Edit
                        </button></a></th>
                </tr>
            </table>
        </div>
    