<div class="login-page">
        <div class="text-center">
            <h3>
            Welcome to {{title}}
            </h3>
        </div>
        <div class="form">
            <div class="login-form">
            <form [formGroup]="registerFormGroup">
                <label>Name</label>
                <input type="text" [(ngModel)]="name" placeholder="Name" [formControl]="registerFormGroup.controls['nameControl']" required/>
                <label>Email</label>
                <input type="text" [(ngModel)]="email" placeholder="email" [formControl]="registerFormGroup.controls['emailControl']" required/>
                <label>Age</label>
                <input type="text" [(ngModel)]="age" placeholder="Age" [formControl]="registerFormGroup.controls['ageControl']" required/>
                <label>Contact</label>
                <input type="text" [(ngModel)]="contact" placeholder="Mobile Number" [formControl]="registerFormGroup.controls['contactControl']" required/>
                <label>Location</label>
                <input type="text" [(ngModel)]="location" placeholder="Location" [formControl]="registerFormGroup.controls['locationControl']" required/>
                <label>Image URL</label>
                <input type="text" [(ngModel)]="imageUrl" placeholder="Image URL" [formControl]="registerFormGroup.controls['imageUrlControl']"required/>
                <label>Gender<br>
                    <input type="radio" value="Male" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Male 
                    <input type="radio" value="Female" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Female
                </label>       
                <br>
                <button (click)='registerUser()' [disabled]="!registerFormGroup.valid">Register</button>
            </form>
                <strong><p class="message">Already a User? <a [routerLink]="'../Login'">Login Here</a></p></strong>
            </div>
        </div>
    </div>